/* static/styles.css */

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("moon.jpg");
    background-size: cover;
}

.container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 5000px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #fcfafa;
    font-size: 150px;
}
h2 {
    font-size: 60px;
    color: #fcfafa;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 10px;
    font-size: 50px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}
